body {
    font-family: 'Liu Jian Mao Cao', cursive;
    background-image: url("images/background.jpg");
    background-size: cover;
    background-attachment: scroll;
    color: white;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    text-align: center;
  }
  
  li {
    text-align: justify;
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
#about {
    margin-top: 15px;
}

.port1 {
    margin-top: 15px;
}

.port2 {
    margin-top: 15px;
}

#contact {
    margin-top: 15px;
    text-align: center;
}